.mb-20{
    margin-bottom: 20px;
}
.w-100{
    width: 100%!important;
}
.p20{
    padding: 20px;
}
.w-button-add{
    width: 5%!important;
}
.mb-1percent{
    margin-bottom: 1%!important;
}

.pl_button_action{
    padding-left: 12%!important;
}
.ml-action-button{
    margin-left: 35%!important;
}
.ml-1percent{
    margin-left: 1%!important;
}
.mt-2percent{
    margin-top: 2% !important;
};

.D-flex{
    display: flex;
}
.min-w-select{
    min-width: 220px!important;
}
.w-60{
    width: 60% !important;
}
.w-90{
    width: 90% !important;
}
.w-40{
    width: 40% !important;
}
.mr-3percent{
    margin-right: 3% !important;
}
.ml-5percent{
    margin-left: 5% !important;
}
.ml-3percent{
    margin-left: 3% !important;
}
.mt-1percent{
    margin-top: 1% !important;
}
.mt-5percent{
    margin-top: 5% !important;
}
.mt-7percent{
    margin-top: 7% !important;
}
.mb-5percent{
    margin-bottom: 5% !important;
}
